@use '../../../global-styles/' as gs;

.submit__button__wrapper {
    position: relative;
    transition: 0.5s;

    &:hover {
        color: gs.$purple-color;
        cursor: pointer;
        transform: scale(1.07);
    }

    &>input {
        background: gs.$orange-color;
        width: 2.5rem;
        height: 2.5rem;
        border: none;
        border-radius: 50%;
        padding: 0.1rem;

    }

    &>svg {
        position: absolute;
        cursor: pointer;
        top: 50%;
        left: 50%;
        transform: translate(-40%, -50%);
        font-size: 1.7rem;
    }




}