@use '../../global-styles/' as gs;

.sort__filter__section {
    @include gs.display-flex(row, space-between, center);
    width: 100%;

    &>.logo__wrapper {
        width: 3rem;

        @include gs.breakpoint(mobile-start, mobile-end) {
            display: none
        }
    }

    @include gs.breakpoint(mobile-start, mobile-end) {
        @include gs.display-flex(column, space-between, center);
        height: 100%;
    }
}