$purple-color: #3700fd;
$purple-color-transparent: #3726a688;
$light-color: #f8f8f8;
$light-color-transparent: #f8f8f8a4;
$dark-shadow-color: #000000bf;
$orange-color: #ef5112;
$dark-gray: #333333;
$green-color: #5BC236;