@mixin display-flex ($direction, $content, $items) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $items;
}

@mixin shadow ($blur, $spread, $color ) {
    box-shadow: 0px 0px $blur $spread $color;
    -webkit-box-shadow: 0px 0px $blur $spread $color;
    -moz-box-shadow: 0px 0px $blur $spread $color;
}

@mixin title ($color, $size) {
    color: $color;
    font-size: $size;
    font-weight: 700;
    text-shadow: 3px 3px 5px #000;
}