@use '../../global-styles/' as gs;

.main {
    width: 90%;
    margin-inline: auto;
    max-width: 77rem;
    position: relative;
    
    &__wrapper{
        height: 100%;
        width: 100%;
    }

    &__form__wrapper {
        position: sticky;
        z-index: 3;
        top: 0.3rem;
        width: 90%;
        height: 4rem;
        background: gs.$light-color;
        border-radius: 1.5rem;
        margin-inline: auto;
        margin-bottom: 2rem;
        max-width: 75rem;
        @include gs.shadow(10px, -3px, gs.$dark-shadow-color);
        @include gs.display-flex(row, space-between, center);
        padding: 1rem 2rem;
    }

    &__products__list {
        min-height: 80vh;
        margin: 2rem 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }

    &__load__more__wrapper {
        @include gs.display-flex(row,center,center);
        position: static;
        bottom: 0;
        width: 100%;
        min-height: 6rem;
        text-align: center;
        margin-inline: auto;
        margin: 1rem  ;
    }
}