@use '../../../global-styles/' as gs;

.button__wrapper {
    transition: 0.5s;

    &:hover a {
        background: gs.$purple-color;
        transition: all 0.5s;
        color: gs.$light-color;
        transform: scale(1.05);
    }

    &>a {
        width: 8rem;
        background: gs.$green-color;
        color: gs.$dark-shadow-color;
        font-weight: 500;
        border-radius: 2rem;
        padding: 0.3rem 1rem;
        @include gs.display-flex(row, space-between, center);
        transition: 0.5s;

        @include gs.breakpoint(mobile-start, mobile-end) {
            width: 6.5rem;
            padding: 0.2rem 0.5rem;
            font-size: 0.9rem
        }

        ;

        &>svg {
            font-size: 1.3rem;

            @include gs.breakpoint(mobile-start, mobile-end) {
                font-size: 1.1rem;
            }
        }
    }
}