@use '../../../global-styles/' as gs;

.logo {
    width: 100%;
    @include gs.display-flex(row, space-between, center);
    position: relative;

    &>img {
        width: 100%;
    }

    &>p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -15%);
        text-transform: capitalize;
        letter-spacing: 0.27rem;
        font-style: italic;
        -webkit-text-stroke: 1px #000;
        @include gs.title(gs.$orange-color, 1.1rem);
        font-weight: 800;
    }
}